<footer class="site-footer bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase font-weight-bold">About Us</h5>
        <p>Here's a brief description of your company, its mission, and values. Briefly highlight what makes your store unique.</p>
        <a href="/about-us" class="btn btn-primary btn-sm mt-2">Learn More</a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase font-weight-bold">Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="/faq" class="text-white">FAQ</a></li>
          <li><a href="/shipping-and-returns" class="text-white">Shipping & Returns</a></li>
          <li><a href="/contact-us" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase font-weight-bold">Shop</h5>
        <ul class="list-unstyled">
          <li><a href="/categories" class="text-white">Categories</a></li>
          <li><a href="/new-arrivals" class="text-white">New Arrivals</a></li>
          <li><a href="/sales" class="text-white">Sales & Promotions</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h5 class="text-uppercase font-weight-bold">Account</h5>
        <ul class="list-unstyled">
          <li><a href="/account" class="text-white">My Account</a></li>
          <li><a href="/order-history" class="text-white">Order History</a></li>
          <li><a href="/wishlist" class="text-white">Wishlist</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left mb-3">
        <p class="text-muted mb-0">&copy; 2024 <a href="/" class="text-white">Your Store Name</a>. All rights reserved.</p>
      </div>

      <div class="col-md-6 text-center text-md-right">
        <a href="https://www.facebook.com/" target="_blank" class="text-white mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" class="text-white mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="text-white mx-2">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
